:host ::ng-deep {
  .card {
    max-width: 30rem !important;
    width: 100% !important;
    height: 50rem !important;
    border-radius: 0.5rem !important;
  }
  nb-icon svg {
    width: 20px;
  }
}
.bg {
  height: 100vh !important;
  width: 100vw !important;
  align-items: center !important;
}
.img-container {
  display: block;
  max-width: 100%;
  overflow: hidden;
  width: auto;
}

img {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.imgDrag {
  pointer-events: none;
}
@media (max-width: 425px) {
  .card-body {
    padding: 0px !important;
    // margin-left: 10px !important;
    // margin-right: 10px !important;
  }
  .card {
    height: 100% !important;
    width: 100% !important;
  }
}
@media (max-width: 2200px) {
  .card {
    height: 27rem !important;
  }
}

@media (max-width: 320px) {
}

.img-container {
  max-width: 100%;
  width: auto;
  height: 200px !important;
  overflow: hidden !important;
}

.imageRadius {
  height: auto !important;
  width: 100% !important;
}
